<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Catálogo de Productos</title>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
  <link href="static/css/style.css" rel="stylesheet" />

  <style>
    .product_section {
    padding: 50px 0;
    }

    .product_section .heading_container {
    margin-bottom: 40px;
    }

    .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
    height: 150px;
    object-fit: cover;
    }

    .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    }

    .card-text {
    color: #777;
    margin-bottom: 15px;
    }

  </style>


</head>

<body>
  <!-- Header -->
  <header class="header_section">
    <!-- (incluye aquí tu código de la sección del header y el menú) -->
  </header>

  <!-- Catálogo de Productos -->
  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Nuestros Productos</h2>
      </div>
      <div class="row">
        {% for product in products %}
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
          <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">${{ product.price }}</p>
              <a href="/add_to_cart/{{ product.id }}" class="btn btn-primary">Añadir a la Cesta</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
</body>

</html>
