<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>MARKETECO</title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css"/>
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
  <!-- SweetAlert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <style>
    .swal2-container {
      z-index: 9999 !important;
    }

    .header_section {
      background-color: #f8f9fa;
      padding: 10px 0;
    }
  
    .navbar-brand {
      display: flex;
      align-items: center;
    }
  
    .navbar-brand img {
      margin-right: 10px;
    }
  
    .navbar-brand span {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }
  
    .form-inline {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  
    .form-control {
      margin-left: 80px;
      flex-grow: 1; 
      margin-right: 20px;
      max-width: 800px;
    }
  
    .btn-outline-success {
      width: auto;
    }
  
    @media (max-width: 768px) {
      .navbar-brand span {
        display: none;
      }
  
      .nav-link span {
        display: none;
      }
  
      .form-inline {
        max-width: 100%;
      }
    }

    .custom_nav-container .navbar-nav .nav-item .btn-menu {
      color: #fff;
      background-color: #325600;
      padding: 10px 20px;
      border-radius: 30px;
      margin: 0 15px;
      margin-top: 40px;
      transition: background-color 0.3s, color 0.3s;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      display: inline-block;
    }

    .custom_nav-container .navbar-nav .nav-item .btn-menu:hover {
      background-color: #024835;
      color: #fff;
    }

    @media (max-width: 768px) {
      .custom_nav-container .navbar-nav .nav-item .btn-menu {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
      }
    }

    .rate {
        display: flex;
        justify-content: left;
        align-items: left;
        margin-bottom: 10px;
    }
    .rate input {
        display: none;
    }
    .rate label {
        float: right;
        color: #ccc;
        font-size: 30px;
        cursor: pointer;
    }
    .rate input:checked ~ label {
        color: #ffc700;
    }
    .rate label:hover,
    .rate label:hover ~ label {
        color: #deb217;
    }
  </style>

</head>


<body>
  <!-- Mostrar mensajes de Django -->
  {% if messages %}
  <div id="popup-messages" style="display: none;">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  <!-- Mostrar mensajes de Django -->

    <!-- header section starts -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="/">
        <img src="/static/images/MARKETECO_logo.png" alt="MARKETECO_logo" style="width: 120px; height: 120px; border-radius: 80%;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 flex-grow-1" action="{% url 'list_products' %}" method="GET">
            <input class="form-control mr-sm-2 flex-grow-1" type="search" name="q" placeholder="Buscar producto" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
        </form>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="usuarios/perfil">
              {% if user.photo_url %}
                <img src="{{ user.photo_url }}" alt="Profile Picture" style="width: 70px; height: 70px; border-radius: 50%;">
              {% elif user.photo %}
                <img src="{{ user.photo.url }}" alt="Foto de Perfil" style="width: 70px; height: 70px; border-radius: 50%;">
              {% endif %}
              <span>{{ user.email }}</span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="usuarios/login">
              <img src="static/images/user-login.png" alt="" style="width: 50px; height: 50px;">
              <span>LOGIN</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- header section ends -->

<!-- Menú horizontal -->
<nav class="navbar navbar-expand-lg custom_nav-container">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link btn-menu" href="/productos/lista_productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-menu" href="/usuarios/productores">Productores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-menu" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end Menú horizontal -->


    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Productos frescos
                      <span>
                        Cuidando tu salud
                      </span>
                    </h1>
                    <p>
                      Disfruta de la naturaleza en su estado más puro: degusta frutas y verduras frescas de cultivo ecológico, 
                      libres de pesticidas y rebosantes de nutrientes esenciales para tu salud.
                    </p>
                    <div class="btn-box">
                      <a href="/productos/lista_productos" class="btn-1">
                        Ver productos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="static/images/slider_jp1.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Pastas y lácteos
                      <span>
                        Sin aditivos
                      </span>
                    </h1>
                    <p>
                      El auténtico sabor de la leche y sus derivados ecológicos son provienen de animales criados 
                      de forma libre siempre exentos de cualquier tipo de maltrato.
                    </p>
                    <div class="btn-box">
                      <a href="/productos/lista_productos" class="btn-1">
                        Ver productos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="static/images/slider_jp3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Las mejores marcas
                      <span>
                        Primeros orígenes
                      </span>
                    </h1>
                    <p>
                      Los sabores más auténticos: aceite de oliva virgen extra ecológico de primera prensa y miel ecológica de flores silvestres, 
                      sin procesar y con el sabor más excepcional.
                    </p>
                    <div class="btn-box">
                      <a href="/productos/lista_productos" class="btn-1">
                        Ver productos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="static/images/slider_jp2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Productores locales
                      <span>
                        Aromas naturales
                      </span>
                    </h1>
                    <p>
                      Cafés de procedencia ecológica y tejidos elaborados con algodón orgánico. 
                      Completa tu estilo de vida con productos biodegradables como los procedentes del bambú.
                    </p>
                    <div class="btn-box">
                      <a href="/productos/lista_productos" class="btn-1">
                        Ver productos
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="static/images/slider_jp4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="static/images/jov_2.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2 class="custom_heading">
              Sobre Marketeco
              <span>
                Productos Ecológicos
              </span>
            </h2>
            <p>
              Esta propuesta surge de la iniciativa para un trabajo de fin de grado, propuesta por el profesor del departamento de 
              Lenguajes y Sistemas Informáticos de la ETSII de Sevilla, Pablo Neira Ayuso, con el fin de abordar la problemática
              acaecida en España a raíz de la subida de los precios de los productos en los últimos años. El objetivo principal del proyecto es estrechar la franja de comunicación
              y transacción entre los productores y consumidores, procurando eliminar la figura del intermediario.
            </p>
            <div>
              <a href="">
                Saber más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            Nuestras categorías de <span>productos</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-4" onclick="redirectToProductos('Alimentación')">
                <div class="img_box">
                  <img src="static/images/food_1.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Alimentación
                  </h6>
                  <p>
                    Productos frescos o procesados que se cultivan o crían sin el uso de pesticidas sintéticos, fertilizantes químicos o ingeniería genética, 
                    siguiendo prácticas agrícolas y ganaderas respetuosas con el medio ambiente.
                  </p>
                </div>
              </div>
              <div class="col-md-4" onclick="redirectToProductos('Ropa')">
                <div class="img_box">
                  <img src="static/images/clothes_1.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Ropa y complementos
                  </h6>
                  <p>
                    Prendas de ropa ecológica o ropa orgánica hecha a partir de tejidos y materiales orgánicos y naturales 
                    que han sido producidos de la forma lo menos dañina posible para el planeta.
                  </p>
                </div>
              </div>
              <div class="col-md-4" onclick="redirectToProductos('Hogar')">
                <div class="img_box">
                  <img src="static/images/house_1.png" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Productos de hogar
                  </h6>
                  <p>
                    Artículos elaborados con materiales sostenibles y biodegradables, libres de sustancias tóxicas y químicos nocivos, 
                    que minimizan el impacto ambiental durante su producción y uso.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="/productos/lista_productos/">
              ¡Ver más!
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img src="static/images/abu_1-no_fond.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
        <h2 class="custom_heading text-center">
            Nuestros productos con mejores
            <span>valoraciones</span>
        </h2>
        <p class="text-center">
            porque nuestro mayor valor dentro de la ecología es la transparencia
        </p>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for producto in productos_top %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="layout_padding2 pl-100">
                            <div class="client_container">
                                <div class="img_box">
                                  <a href="{% url 'detalle_producto' producto.id %}"><img src="{{ producto.imagen }}" alt="{{ producto.nombre }}"></a>
                                </div>
                                <div class="detail_box">
                                    <h5 class="h3"><a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a></h5>
                                    <h5>{{ producto.nombre }}</h5>
                                    <p>{{ producto.descripcion }}</p>
                                    {% if producto.valoracion %}
                                    <div class="rate">
                                      {% if producto.valoracion %}
                                          {% for i in range %}
                                              <input type="radio" id="star{{ i }}-{{ producto.id }}" name="rate{{ producto.id }}" value="{{ i }}" {% if producto.valoracion == i %}checked{% endif %} disabled />
                                              <label for="star{{ i }}-{{ producto.id }}" title="{{ i }} stars">★</label>
                                          {% endfor %}
                                      {% endif %}
                                  </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </section>
  <!-- end client section -->


  <!-- map section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <h2 class="custom_heading text-center">
          Dónde <span>estamos...</span>
      </h2>
      <div class="row">
        <div class="col-md-12 map_container">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2171.667567306649!2d-5.9866459808731305!3d37.35775985705388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126dd4a3055555%3A0x29c3f634f8a021b8!2sEscuela%20T%C3%A9cnica%20Superior%20de%20Ingenier%C3%ADa%20Inform%C3%A1tica!5e0!3m2!1ses!2ses!4v1718734674215!5m2!1ses!2ses" 
            width="100%" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end map section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="https://maps.app.goo.gl/3Yf9uJddxnPE2ZPX7">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Ubicación
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Instagram
              </p>
            </div>
          </div>
        </a>
        <a href="mailto:info@marketeco.shop">
          <div class="item ">
            <div class="img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                info@marketeco.shop
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <script>
    // Mostrar el popup con SweetAlert
    window.onload = function() {
        var popupMessages = document.getElementById('popup-messages');
        if (popupMessages && popupMessages.children.length > 0) {
            
            var iconType = 'error'; 
            var titleText = '¡ERROR!';

            // Verificar si hay un mensaje de éxito
            var successMessages = popupMessages.getElementsByClassName('alert-success');
            if (successMessages.length > 0) {
                iconType = 'success';
                titleText = '¡ÉXITO!';
            }

            Swal.fire({
                icon: iconType, 
                title: titleText,
                html: popupMessages.innerHTML,
            });
        }
    }

    // Función para redirigir a la página de productos con el filtro del categoría seleccionada
    function redirectToProductos(categoria) {
            var url = `/productos/lista_productos/?categoria=${categoria}`;
            // Redirigir al usuario a la nueva página
            window.location.href = url;
        }
  </script>


  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>

</body>
</body>

</html>